<ion-header [translucent]="true">
  <ion-toolbar>
      <ion-searchbar class="search-bar" placeholder="Search your meal" (input)="search($event)"></ion-searchbar>
      <div >

        <ion-select #categorySelect label="Seleccionar categoría" label-placement="floating" fill="solid"  (ionChange)="categoryChange()">
          <ion-select-option  *ngFor="let category of categoryList?.categories" [value]="category.strCategory" onchange="categoryChange()">{{category.strCategory}}</ion-select-option>
        </ion-select>
      </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <app-card-list [itemsList]="filteredItems"></app-card-list>
  </div>
</ion-content>
